main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main > section {
    width: 70%;
    background-color: rgb(236, 240, 243);
    text-align: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 
        rgba(0, 0, 0, 0.2) 10px 9px 15px, 
        rgba(255, 255, 255, 0.6) -18px -19px 16px;
}

main > section > h1 {
    font-size: 24pt;
    font-weight: 800;
}

main > section > p {
    font-size: 14pt;
    font-weight: 200;
    margin-top: 1rem;
}
